@use 'globals' as *;

.top-wrapper {
    background-image: url(../images/alicesprings-main.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100vh;
    display: flex;
    justify-content: center;

    
    

main {
    position: absolute;
    z-index: 4;
    .main-wrapper {
        opacity: 0;

        &.animation {
            animation-name: main-animation;
            animation-duration: 2s;
            animation-delay: .5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease;

        }

        p {
            color: $cWhite;
            font-family: serif;
            font-size: 2rem;
            font-weight: 700;
            text-shadow: 0 0 3px $cBlack;
            text-align: center;
            padding-top: 680px;
            
           


            @media (max-height: 740px) {
                padding-top: 200px;   
            }
        }
    }
}

@keyframes main-animation {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }
    100% {
     opacity: 1;
     transform: translateY(0);
     }
}

}