@use 'globals' as *;

main {
    .main-wrapper {
        opacity: 0;

        &.animation {
            animation-name: main-animation;
            animation-duration: 2s;
            animation-delay: .5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease;

        }

        h2 {
            color: $cWhite;
            font-family: serif;
            font-size: 2rem;
            text-shadow: 0 0 3px $cBlack;
            text-align: center;
            padding-top: 20rem;
        }
    }
}

@keyframes main-animation {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }
    100% {
     opacity: 1;
     transform: translateY(0);
     }
}
